.shahvats-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    border: 3px solid black;
}

.white-field {
    width: 100px;
    height: 100px;
    background-color: #F3E2A9;
}

.black-field {
    width: 100px;
    height: 100px;
    background-color: rgb(152 118 84);
}

.row {
    display: flex;
}

.active-square {
    background-color: red;
}

img {
    width: 100px;
    height: 100px;
}
